:root{
	--purple:#3e049;
}
head

body{
	color:var(purple);
	font-family: sans-serif;
	overflow: hidden;
	height: 100%
}

.topBox {
	height: 200px;
	width: 100px;
}

.screenBox {

	width: 212px;
	height: 210px;
	margin: auto;
	border: 10px solid rgba(0, 0, 0, 0);
	
}

.dialogueBox {

	width: 300px;
	height: 100px;
	border: 10px solid rgba(153, 38, 105, 0.568);
	padding: auto;
	margin-left: auto;
	box-sizing: border-box;
	border-style: groove;
}

.dialogueBoxText {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font: Helvetica;
	font-size: large;
}

.optionBox {
	width: 300px;
	height: 250px;
	border: 10px solid rgba(153, 38, 105, 0.568);
	padding: auto;
	margin-left: auto;
	box-sizing: border-box;
	border-style: groove;
}

.container{
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	margin: auto;
	padding-left: auto;
	
}

#optionboard{
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}

#dialogueboard {
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-bottom: 10px;
}

#dialogueboardtext {
	margin: auto;
	padding: auto;
}

/* .attackBtn{
	height: auto;
	width: auto;
	background-size: cover;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	margin: auto;
	padding: auto;
} */

.buttonStyle {
	width: 150px;
	height: 80px;
	margin: auto;
	display: flex;
	border: solid;
	border-style: solid;
	align-items: center;
	border-radius: 50%;
	display: table-cell;
	background-color: rgba(223, 163, 210, 0.712);
	border-color: rgb(61, 6, 47);
	
}

.buttonStyle:hover {
	background-color: rgb(182, 107, 166);  
}

.buttonText {
	color: rgb(61, 6, 47);
	font-family: Arial, Helvetica, sans-serif;
	font: Arial; 
	font-size: 30px; 
	text-align: center;
}

/* .optionboard > buttonStyle:hover {
	
	translate: translateY(3);

} */

